# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

#Enviroment variables
.env
# VS Code
.vscode/

# OS
.DS_Store

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
